.retailer-item {
    margin-bottom: 10px;
  }

  /* Style for the checkbox */
  .retailer-checkbox {
    margin-right: 5px;
  }

  /* Style for the submit button */
  .submit-btn {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  ul{
    list-style-type: none;
  }
  